WebSemantica/Ejercicios/VersionesConDTD/playlist/musica.dtd

<!ELEMENT playlist (cancion+)>
<!ELEMENT cancion (interpretes+, compositores+, letristas+)>
<!ATTLIST cancion nombre CDATA #REQUIRED
                  duracion CDATA #REQUIRED
                  genero CDATA #REQUIRED
                  album CDATA #REQUIRED
                  aniolanzamiento CDATA #REQUIRED>
<!ELEMENT interpretes (interprete+)>
<!ELEMENT interprete (nombre, alias*)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT alias (#PCDATA)>
<!ELEMENT compositores (compositor+)>
<!ELEMENT compositor (nombre)>
<!ELEMENT letristas (letrista+)>
<!ELEMENT letrista (nombre)>